@import "~bootstrap/scss/bootstrap.scss";

body {
    background: gray;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style: none;
    margin: 30px 0;
    padding-inline-start: 0;
}

li {
    box-shadow: 1px 2px 5px gray;
    padding: 10px 30px;
    color: darkslategrey;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

span {
    color: lightgray;
    background: lightgray;
    padding: 0 5px;
    border-radius: 5px;
}

li:hover span {
    color: red;
    border: 3px solid red;
    font-weight: 700;
}    

.to-do-sheet {
    margin: 100px auto;
    padding: 100px;
    width: 600px;
    background: lightgray;
    box-shadow: 3px 4px 20px black;
}

.to-do-sheet input {
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
}

.to-do-sheet h1 {
    color: rgb(94, 182, 253);
}

input:focus {
    outline: none;
}