@import "~bootstrap/scss/bootstrap.scss";

body {
    background: gray;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul {
    list-style: none;
    margin: 30px 0;
    padding-inline-start: 0;
}

li {
    box-shadow: 1px 2px 5px gray;
    padding: 10px;
    color: white;
    margin: 10px auto;
}

span {
    color: lightgray;
    background: lightgray;
    padding: 0 5px;
    border-radius: 5px;
}

li:hover span {
    color: red;
    border: 1px solid red;
    font-weight: 700;
}    

.to-do-sheet {
    margin: 100px auto;
    padding: 100px;
    width: 600px;
    background: lightgray;
    box-shadow: 2px 3px 10px darkgray;
}